
body{
    background-color: rgba(255, 134, 134, 0.533);
}
h1 {
    color: darkviolet;
    text-align: center;
}
div {
    color: plum;
    text-align:center;
}
#cases {
    text align :justify;
    justify-items :content;
}
li {
    color: plum;
    text-align:center;
    font-size: 25px
}
.points{
    display:flex;
    justify-content:center;
}
p{
    text-align:center;
    color:plum
}
.color {
    color: #6898a0
}
image-container{
    align-content: center;

}
#geoloc {
    text-align:center;
    font-size: 30px;
}
#cpr {
    text-align :justify;
}
@media (max-width: 576px) {
        div {
            color: plum;
            text-align:center;
            font-size: 10px;
        }
        li {
            color: plum;
            text-align:center;
            font-size: 13px;
        }
        .points{
            display:flex;
            justify-content:center;
        }
        p{
            text-align:center;
            color:plum
        }
        .color {
            color: #6898a0
        }
        image-container{
            align-content: center;

        }
        #geoloc {
            text-align:center;
            font-size: 15px; 
        }
        #cpr {
            text-align :justify;
        }
            }